{namespace munter = Munter\MunterthemeContentelements\ViewHelpers}
<munter:fal data="{data}">

    <div class="row title-row">
        <div class="col-12 font-thin"><f:format.raw>{data.header}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-12 font-thin"><f:format.raw>{data.subheader}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row content-row">
        <div class="col-12 col-lg-3 col-sm-6">
            <p><i class="fa fa-eye"></i></p>
            <h2 class="font-thin">Visual <span class="font-semibold">Identity</span></h2>
            <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-lg-3 col-sm-6">
            <p><i class="fa fa-laptop"></i></p>
            <h2 class="font-thin">Web <span class="font-semibold">Design</span></h2>
            <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-lg-3 col-sm-6">
            <p><i class="fa fa-tablet"></i></p>
            <h2 class="font-thin">Mobile <span class="font-semibold">Apps</span></h2>
            <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-lg-3 col-sm-6">
            <p><i class="fa fa-pencil"></i></p>
            <h2 class="font-semibold">Development</h2>
            <h4 class="font-thin">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
        </div><!-- /col12 -->
    </div><!-- /row -->

</munter:fal>