{namespace munter = Munter\MunterthemeContentelements\ViewHelpers}
<munter:dataRelation uid="{data.uid}" table="tx_munterthemecontentelements_aboutus_item" >

    <div class="row title-row">
        <div class="col-12 font-thin"><f:format.raw>{data.header}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-12 font-thin"><f:format.raw>{data.subheader}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row content-row">
        <f:for each="{items}" as="item" iteration="iteration">
            <f:render partial="AboutUs/Item" arguments="{data:data,item:item,iteration:iteration}" />
        </f:for>
    </div><!-- /row -->

</munter:dataRelation>