{namespace munter = Munter\MunterthemeContentelements\ViewHelpers}
<munter:fal data="{data}">

    <div class="row title-row">
        <div class="col-12 font-light"><f:format.raw>{data.header}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light"><f:format.raw>{data.subheader}</f:format.raw></div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
    <div id="contact-row-4" class="row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="fa fa-phone"></i></a></p>
            <span class="hover-text font-light ">+44 4839-4343</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="fa fa-envelope"></i></a></p>
            <span class="hover-text font-light ">munter@blacktie.co</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="fa fa-home"></i></a></p>
            <span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></p>
            <span class="hover-text font-light ">facebook/blacktie_co</span></a>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2 with-hover-text">
            <p><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></p>
            <span class="hover-text font-light ">@BlackTie_co</span></a>
        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->

</munter:fal>