{namespace munter = Munter\MunterthemeContentelements\ViewHelpers}
<munter:dataRelation uid="{data.uid}" table="tx_munterthemecontentelements_process_item" >

    <div class="row title-row">
        <div class="col-xs-12 font-thin"><f:format.raw>{data.header}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-xs-12 col-sm-10 font-light">{data.bodytext}</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
    <div class="row content-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <f:for each="{items}" as="item" iteration="iteration">
            <f:render partial="Process/Item" arguments="{data:data,item:item,iteration:iteration}" />
        </f:for>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->

</munter:dataRelation>