{namespace munter = Munter\MunterthemeContentelements\ViewHelpers}
<munter:fal data="{data}">

    <div class="row title-row">
        <div class="col-12 font-thin"><f:format.raw>{data.header}</f:format.raw></div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-10 font-light">{data.bodytext}</div>
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->
    <div class="row content-row">
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
        <div class="col-12 col-sm-2">
            <p><i class="fa fa-bolt"></i></p>
            <h2 class="font-thin">Listening to<br><span class="font-semibold" >your needs</span></h2>
            <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
            <p><i class="fa fa-cog"></i></p>
            <h2 class="font-thin">Project<br><span class="font-semibold">discovery</span></h2>
            <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
            <p><i class="fa fa-cloud"></i></p>
            <h2 class="font-thin">Storming<br><span class="font-semibold">our brains</span></h2>
            <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
            <p><i class="fa fa-map-marker"></i></p>
            <h2 class="font-thin">Getting<br><span class="font-semibold">there</span></h2>
            <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-12 col-sm-2">
            <p><i class="fa fa-gift"></i></p>
            <h2 class="font-thin">Delivering<br><span class="font-semibold">the product</span></h2>
            <h4 class="font-thin">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
        </div><!-- /col12 -->
        <div class="col-sm-1 hidden-sm">&nbsp;</div>
    </div><!-- /row -->

</munter:fal>